* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #ffffff;
}

.quote-box {
  position: absolute;
  background-color: beige;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.quote-box h1 {
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.quote-box h1::after {
  content: "";
  width: 100px;
  height: 3px;
  background: rgb(0, 183, 255);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 25px;
  min-height: fit-content;
}

.quote-box blockquote::after,
.quote-box blockquote::before {
  content: ' " ';
}

.quote-box .author {
  display: block;
  margin-top: 30px;
  float: right;
  padding-right: 10px;
  position: relative;
}

.quote-box .author::before {
  content: "";
  width: 30px;
  height: 3px;
  background: rgb(0, 183, 255);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateX(-90%);
}

.quote-box .button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* padding: 20px; */
  /* width: 100%; */
}

.quote-box .button button {
  background-color: rgb(0, 183, 255);
  color: #fff;
  border: 2px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  /* gap: 20px; */
  margin: 10px;
  padding: 25px 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quote-box button:nth-child(2) {
  background-color: transparent;
  color: rgb(0, 183, 255);
  /* text-decoration-color: rgb(0, 183, 255); */
}

.quote-box .button button:active {
  background-color: rgb(23, 124, 229);
  border: 2px solid rgb(0, 183, 255);
  transform: scale(90%);
}

.quote-box button:nth-child(2):hover {
  color: #fff;
}

/* 
.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}
 */
.close-modal {
  /* position: absolute; */
  /* top: 1.2rem; */
  /* right: 2rem; */
  display: block;
  width: 100%;
  text-align: right;
  font-size: 25px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  /*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
 */
  /* background-color: white; */
  padding: 6px 20px;
  border-radius: 5px;
  text-align: center;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
  /* z-index: 2; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* gap: 5px; */
}

.share-menu {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}


.share-menu a {
  background: #222;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.share-menu i {
  color: #fff;
  font-size: 18px;
}

.share-menu a:hover,
.share-menu button:hover {
  background: #444;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
} */
