@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  background-color: #ffffff;
}

.quote-box {
  position: absolute;
  background-color: beige;
  top: 50%;
  left: 50%;
  width: fit-content;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}

.quote-box h1 {
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.quote-box h1::after {
  content: "";
  width: 100px;
  height: 3px;
  background: rgb(0, 183, 255);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.quote-box blockquote {
  font-size: 25px;
  min-height: fit-content;
}

.quote-box blockquote::after,
.quote-box blockquote::before {
  content: '"';
}

.quote-box .author {
  display: block;
  margin-top: 30px;
  float: right;
  padding-right: 10px;
  position: relative;
}

.quote-box .author::before {
  content: "";
  width: 30px;
  height: 3px;
  background: rgb(0, 183, 255);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateX(-90%);
}

.quote-box .button {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  /* width: 100%; */
}

.quote-box button {
  background-color: rgb(0, 183, 255);
  color: #fff;
  border: 2px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  /* gap: 20px; */
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.quote-box button:hover {
  background-color: rgb(23, 124, 229);
  border: 2px solid rgb(0, 183, 255);
  transform: scale(90%);
}

